{{> layout/header}}
<div class="container p-5 flex-grow-1">
    <div class="card">
        <div class="card-header"><b>회원정보 수정</b></div>
        <div class="card-body">
            <!--프로필 이미지-->
            <div class="text-center mb-4">
                {{#user.profileImage}}
                    <img class = "rounded-circle" src="/images/{{user.profileImage}}" alt="프로필이미지"
                         style="width:200px; height:200px;">
                    <div class="mt-2">
                        <form action="/user/profile-image/delete" method="post">
                            <button type="submit" class="btn btn-sm btn-danger"
                                    onclick="return confirm('프로필 사진을 삭제 할까요?')">프로필 사진 삭제</button>
                        </form>
                    </div>
                {{/user.profileImage}}

                {{^user.profileImage}}
                    <div class="rounded-circle bg-secondary d-inline-flex
                                justify-content-center align-items-center board "
                         style="width:200px; height:200px;">
                        <span>프로필 사진 없음</span>
                    </div>
                {{/user.profileImage}}
            </div>
            <!--프로필 이미지 end-->
            <form action="/user/update" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" value="{{user.username}}" disabled>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" value="" >
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="email" value="{{user.email}}" disabled>
                </div>

                <!--프로필 이미지 등록 필드(선택사항)-->
                <div class="mb-3">
                    <label for="profileImage" class="form-label"> 프로필 사진(선택사항)</label>
                    <input type="file" id="profileImage" class = "form-control" name="profileImage" accept="image/*">
                    <small class = "form-text text-muted">이미지 파일만 업로드 가능합니다(JPG,PNG,GIF 등)</small>
                    <small class = "form-text text-muted d-block mt-1">✔️프로필 사진을 등록하지 않아도 회원가입 가능</small>
                </div>

                <button class="btn btn-primary form-control">회원정보수정</button>
            </form>
        </div>
    </div>
</div>
{{> layout/footer}}

